.login-form-container {
  margin: 100px auto 0 auto;
  height: relative;
  width: relative;
  max-width: 500px;
  text-align: center;
}

.border-box-card {
  justify-content: center;
  align-items: center;
  height: relative;
  width: relative;
}

mat-card-title {
  text-align: center;
}
