<!-- Toolbar -->
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-raised-button [routerLink]="'/home'" color="primary">
      Football App
    </button>
  </mat-toolbar>
</p>

<!-- Menu -->
<mat-menu #menu="matMenu">
  <button [routerLink]="'/auth'" mat-menu-item>Login</button>
  <button [disabled]="isDisabled" [routerLink]="'/dashboard'" mat-menu-item>
    My dashboard
  </button>
</mat-menu>
