<!-- Toolbar -->
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-raised-button [routerLink]="'/home'" color="primary">
      Football App
    </button>
  </mat-toolbar>
</p>

<!-- Menu -->
<mat-menu #menu="matMenu">
  <button *ngIf="!isLogged" [routerLink]="'/auth'" mat-menu-item>Login</button>
  <button [disabled]="!isLogged" [routerLink]="'/dashboard'" mat-menu-item>
    My dashboard
  </button>
  <button
    *ngIf="isLogged"
    (click)="onLogout()"
    [routerLink]="'/auth'"
    mat-menu-item
  >
    Logout
  </button>
</mat-menu>
