<!-- Toolbar -->
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-raised-button [routerLink]="'/home'" color="primary">
      Home
    </button>
    <span class="more-space">
      <span>More on</span>
      <button (click)="onMore()" mat-icon-button class="icon-btn">
        <mat-icon svgIcon="football"></mat-icon>
      </button>
    </span>
    <!-- <a class="visit" [attr.href]="url">
      <img src="assets/flashscore_logo.png" />
    </a> -->
    <!-- <span class="visit">Visit FlashScore</span> -->
  </mat-toolbar>
</p>

<!-- Menu -->
<mat-menu #menu="matMenu">
  <button *ngIf="!isLogged" [routerLink]="'/auth'" mat-menu-item>Login</button>
  <button [disabled]="!isLogged" [routerLink]="'/dashboard'" mat-menu-item>
    My dashboard
  </button>
  <button
    *ngIf="isLogged"
    (click)="onLogout()"
    [routerLink]="'/auth'"
    mat-menu-item
  >
    Logout
  </button>
</mat-menu>
