.more-space{
    position:absolute;
    display: flex;
    right:1%;
    font-size:medium;
    justify-content: space-between;
    margin-left:50px;
    gap: 10px;
}
.icon-btn{
    margin-top: auto;
    margin-bottom: auto;
}
span{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
}