<div class="grid-container">
  <h1 class="mat-h1">
    Welcome to your dashboard! <b>{{ userName }}</b>
  </h1>
  <h2>
    Your favourite team is <b>{{ favouriteTeam }}</b>
  </h2>
  <mat-grid-list cols="{{ (cardLayout | async)?.columns }}" rowHeight="350px">
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.calendar.cols"
      [rowspan]="(cardLayout | async)?.calendar.rows"
    >
      <app-card title="Calendar">
        <app-match-calendar
          class="calendar"
          [favouriteTeam]="favouriteTeam"
        ></app-match-calendar>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="(cardLayout | async)?.calendar.cols"
      [rowspan]="(cardLayout | async)?.calendar.rows"
    >
      <app-card title="Schedule">
        <app-schedule [favouriteTeam]="favouriteTeam"></app-schedule>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="(cardLayout | async)?.table.cols"
      [rowspan]="(cardLayout | async)?.table.rows"
    >
      <app-card title="Players">
        <app-players
          class="players"
          [favouriteTeam]="favouriteTeam"
        ></app-players>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="(cardLayout | async)?.miniCard.cols"
      [rowspan]="(cardLayout | async)?.miniCard.rows"
    >
      <app-card title="About"> </app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
