<mat-form-field class="login-form" appearance="fill">
  <mat-label>Name</mat-label>
  <input matInput />
</mat-form-field>
<mat-form-field class="login-form" appearance="fill">
  <mat-label>Surname</mat-label>
  <input matInput />
</mat-form-field>
<mat-form-field class="login-form" appearance="fill">
  <mat-label>Email</mat-label>
  <input matInput />
</mat-form-field>
<mat-form-field class="login-form" appearance="fill">
  <mat-label>Create password</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" />
  <button
    mat-icon-button
    matSuffix
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
</mat-form-field>
<button mat-raised-button color="primary">Register</button>
